html,
body {
	margin: 0;
	padding: 0;
	background-color: rgba(25, 25, 25, 0.6);
	height: 100%;
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 48px;
}
